body, html{
  height:100%;
}
body{
  margin: 0 auto;
  background-color:#444;
  font-size: 18px;
  overflow: hidden;
  background: url(http://web.mit.edu/lululiu/Public/pixx/full/10-4.jpg);
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton,{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;

}

.blinky{
  /*border:10px solid red;*/
  background: red;
  width: 10px;
  height: 10px;
  border-radius:10px;
}

.banana-right{
  content:url(http://i1.bebo.com/012/1/medium/2006/08/25/08/1539718312a1830171038b72421332m.jpg);
  height: 50px;
  width: 50px;
}

.banana-left{
  content:url(http://gamesloth-gridfs.herokuapp.com/grid/games/thumbnails/4f530e4ef15d812ce60002d0/peanutbutterjellytime.gif);
  height: 50px;
  width: 50px;
}

.sprites, .animate {
  visibility: hidden;
}

/*.upload {
  visibility: hidden;
}*/

.dancefloor {
  width: 100%;
  height: 80%;
}

